XML/86-06-17 - 8/SampleWebServiceDemo/Web References/localhost1/GetSum.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://localhost/GetSum/GetSum" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://localhost/GetSum/GetSum" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/GetSum/GetSum">
      <s:element name="GetSum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSumResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetSumSoapIn">
    <part name="parameters" element="s0:GetSum" />
  </message>
  <message name="GetSumSoapOut">
    <part name="parameters" element="s0:GetSumResponse" />
  </message>
  <portType name="GetSumSoap">
    <operation name="GetSum">
      <input message="s0:GetSumSoapIn" />
      <output message="s0:GetSumSoapOut" />
    </operation>
  </portType>
  <binding name="GetSumSoap" type="s0:GetSumSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetSum">
      <soap:operation soapAction="http://localhost/GetSum/GetSum/GetSum" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GetSum">
    <port name="GetSumSoap" binding="s0:GetSumSoap">
      <soap:address location="http://localhost/GetSum/GetSum.asmx" />
    </port>
  </service>
</definitions>